.tabs {
    display: flex;
  }
  
  .tabs button {
    flex: 0 1 120px;
    padding: 5px 10px;
    background-color: #ffffff;
    color: #666666;
    border: 3px solid #000000;
    border-bottom: none;
    border-right: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .tabs button:hover {
    background-color: #f0f0f0;
  }
  
  .tabs button.active {
    background-color: #666666;
    color: #ffffff;
    border-color: #000000;
  }
  
  .summary-button {
    flex: 0 1 120px;
    background-color: #000000 !important;
    color: #ffffff !important;
    border: 3px solid #000000 !important;
    border-bottom: none;
  }
  
  .summary-button:hover {
    background-color: #000000 !important;
    color: #ffffff !important;
  }
  
  .empty-expense-box {
    display: flex;
    flex-direction: column; 
    align-items: stretch; 
    justify-content: flex-start; 
    position: relative; 
    min-height: 500px;
    width: 1100px;
    padding: 20px;
    background-color: #ffffff;
    border: 3px solid #000000;
    color: #cccccc;
    font-size: 18px;
    overflow: auto;
}

.center-message {
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  font-size: 35px; 
  font-family: "Arial", sans-serif;
}

.nav-row {
  position: relative; 
  width: 100%; 
  padding: 10px 0; 
}

.prev-btn, .next-btn {
  position: absolute; 
  padding: 10px 20px;
  background-color: #666666;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  top: 50px
 
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0; 
}