.new-expense-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  padding: 20px;
  width: 100%;
  max-width: 500px; 
  box-sizing: border-box;
}

.new-expense-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  margin-top: -38px;
  margin-left: 10px;

}

.form-group {
  margin-bottom: 10px; 
  width: 100%;
}

label {
  display: block; 
}

input[type="number"], select {
  width: 100%; 
  padding: 8px; 
  box-sizing: border-box; 
}

.new-expense-form label, .new-expense-form input, .new-expense-form button {
  width: 100%;
  margin-bottom: 10px;
}

.form-header {
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
}

.save-btn {
  background-color: #666666;
  color: white;
  padding: 8px 16px;
  width: 80%; 
  margin: 10px auto;
  
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%; 
}

.add-expense-btn {
  background-color: #666666;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.daily-total-btn {
  background-color: black;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.add-expense-btn:hover {
  background-color: #444444; 
  color: #f0f0f0;
}

.daily-total-btn:hover {
  background-color: #333333; 
  color: #f0f0f0; 
}

li {
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  margin-bottom: 10px;
}

.daily-total-btn {
  background-color: black;
}


.daily-total-text {
  color: #cccccc; 
  margin-top: 10px; 
  margin-left: 940px;
}

.expense-box {
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: 0;
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 840px;
  margin-bottom: 10px;
  margin-left: -10px;
  flex-grow: 1; 
}

.expense-details {
  display: flex;
  justify-content: space-between; 
  width: 100%; 
  margin-right: 10px;
}

.category-detail {
  text-align: left; 
  flex-grow: 1; 
}

.amount-detail {
  text-align: right; 
}

.edit-btn, .delete-btn {
  background-color: transparent;
  border: 2px solid #ccc;
  color: #333;
  cursor: pointer;
  padding: 5px;
  border-radius: 0;
  height: 64px;
  width: 64px;
  margin-left: 0px;
  margin-top: -10px;
  font-size: 25px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.edit-btn {
  border-left: none;
}

.delete-btn {
  border-left: none;
  background-color: black;
  color: white; 
  border: 2px solid #000; 
}

.delete-btn:hover {
  background-color: #333333; 
  color: #f0f0f0; 
  border-color: black; 
}

.edit-btn:hover {
  background-color: #f0f0f0; 
  color: #000; 
  border-color: #666; 
}


