body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }
  .container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
  }
  
  
  h2 {
    color: #333;
    padding-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
  }
  
  .center-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0; 
    font-size: 30px; 
  }